.advantage-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.advantage__icon {
  max-width: 70px;
  height: 70px;
}

.advantage__item {
  max-width: 450px;
  text-align: center;

   @include tablet {
      max-width: 354px;
      text-align: start;
   }

   @include desctop {
      max-width: 270px;
      text-align: start;
   }
}

.advantage-container {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage__header {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__description {
  color: var(--descripting-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-container {
  margin-bottom: 30px;
}