.team-page {
  background-color: var(--section-background);
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__photo {
   width: 100%;
}

.biography-block {
   padding-top: 24px;
   padding-bottom: 24px;

   @include desctop {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

.team__biography {
  background-color: var(--main-background);
  border: 0px 3px 3px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
 max-width: calc((100% - 30px) / 2);
  }
}

.biography__head {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.biography__description {
  color: var(--descripting-text);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: var(--links-hover);
}

&:hover .social__icon,
&:focus .social__icon {
  fill: var(--main-background);
}
}

.social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

