.section-header {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text);
  text-align: center;
  margin-bottom: 30px;

   @include desctop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
}
}