:root {
  --main-background: #ffffff;
  --title-background: #2f303a;
  --section-background: #f5f4fa;
  --main-text: #212121;
  --links-hover: #2196f3;
  --descripting-text: #757575;
  --logotype-light-color: #000000;
  --contact_text: rgba(255, 255, 255, 0.6);
}


//breakpoints
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;